
.container {
    background-image: url(../../assets/bckgnhome.jpg); 
    background-size: cover;
    height:100%;
    margin: 0;
    padding:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .button-container{
        display: flex;
        flex-direction: column;
        .home-button{
            width: 300px;
            padding: 10px 10px;
        }
    }
}