.container{
    background-image: url('../../../assets/bckgn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:150%;
    border: none;
    box-shadow: none;
.soundsFound{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: none;
    border: none;
}
}

.mat-divider{
    border: none;
}
mat-button{
    text-decoration: none;
}
.center{
    display: flex;
    justify-content: center;
}
h4:hover{
  cursor: pointer;
}
